body{
    margin:0;
}

@media only screen and (min-width: 500px) {
    #main{
        margin-left: 20%;
    }
    
    #menubar>*{
        margin-left: 20px;
        margin-top: 35px;
        margin-right: 6%;
        text-decoration: none;
        color: grey;
    }
  }

#main{
    min-width: 360px;
    padding-left: 27px;
}

#userstatus{
    color: lightskyblue;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.notetitle{
    font-size: smaller;
    color: lightseagreen;
}
.notediv {
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    
}
.notediv>div{
    min-width: 350px;
}

textarea {
    width: 343px;
    font-size: smaller;
    min-width: 98%;
    border-color: lightblue;
    border-width: 2px;
}

.dict {
    position:fixed;
    top: 0;
    left: 0;
}

.dict>iframe {
    min-width: 375px;
    min-height: 400px;
}

form{
    padding: 0;
    margin-right: 0;
    width: 350px;
}

.formtext{
    width: 80%;
    margin-right: 0;
    border: lightblue solid 2px;
    margin-bottom: 10px;
    height: 30px;
}

.formsubmit{
    right: 0;
    width:60px;
    bottom: 10px;
    background-color: lightcyan;
    border-width: 1px;
    
    height: 35px;
}


.dict>p{
    margin: 0;
}
.tool {
    position: fixed;
    right: 3%;
    bottom: 10%;
}

/* iframe {
    height: 400px;
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
    font-size: large;
}  */

#menubar{
    background-color: lightcyan;
    height: 80px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0;
}
#menubar>a{
    margin-top: 37px;
    margin-right: 4%;
    text-decoration: none;
    color: grey;
}

#menubar>button{
    margin-left: 5px;
    margin-top: 37px;
    margin-right: 20px;
    text-decoration: none;
    color: grey;
    background-color: lightcyan;
    border:none;
}

#menubar>button:hover > span{
    display:inherit;
    
}
#menubar>button>span{
    text-align: left;
}
#logbar{
    display: none;
    background-color: lightgray;
    position:absolute;
    left: 0;
    font-size: small;
}

#logbar>*{
    margin-right: 30px;
    text-decoration: none;
    color: lightslategray;
    align-content: left;
}

.tool > button{
    opacity: 0.6;
    background-color: transparent;
    border-width: 0;
}

