{% extends "base.html" %}

{% block title %}
note
{% endblock title %}

{% block body %}

{% load static %}
<div>
    current user:{{ username }}
</div>
<form action="" method="get">
    <input type="text" name="keyword" value="" placeholder="try search">
    <input type="submit" value='search'>
</form>
<form action="" method="post">
    {% csrf_token %}
    <textarea name="noteinput" id="noteinbox" placeholder="type here and take note now" cols="30" rows="10"></textarea>
    <div></div>
    <input type="text" name='titleinput' id='titleinbox' placeholder="title">
    <input type="submit" value="save">
</form>

<div id='notesdiv' class="flex-container">
    {% for note in notes %}
    <div class="notediv">
        <div>
            {{ note.title }}
        </div>
        <textarea name="notecontent" id="n{{ note.id }}" cols="30" rows="10" >{{ note.content }}</textarea>
    </div>
    {% endfor %}
</div>

<!-- <div data-bind="foreach:noteList">
    <textarea  data-bind="value: content,attr:{ cols:width,rows:height}"></textarea>
</div> -->
<div class='dict' data-bind="style: {display: dict().display}">
    <p>
        <button data-bind="event: {click: closedict}" >close</button>
    </p>
    <iframe data-bind="attr: { src: dict().src },style:{width:dict().width,height:dict().height}" ></iframe>
</div>

<script src="{% static "js/ko.js" %}"></script>
<script src="{% static "note/js/app.js" %}"></script>
{% endblock body %}