<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "index.css" %}">
    <title>{% block title %}
      
    {% endblock title %}</title>
</head>
<body data-bind="event:{dblclick: lookup}">
    <div id="menu">
        <a href="{% url 'note' %}">note</a>
        <a href="{% url 'file' %}">file</a>
        <a href="{% url 'help' %}">help</a>
        <a href="{% url 'userhome' %}">login</a>
        <a href="{% url 'logout' %}">logout</a>
    </div>
    {% block body %}
      
    {% endblock body %}
</body>
</html>